{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <div>
        <h5>Deposit further cash funds</h5>
    </div>
    <br>
    <form acton="/deposit" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Amount to deposit" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}