{% extends "layout.html" %}

{% block title %}
    Opt
{% endblock %}

{% block main %}
<div>
    <h4>Markowitz Mean-Variance Optimisation Model</h4>
</div>
<br>


<form acton="/optimise" method="post">
    <div class="mb-3">
        <select name="year">
            <option disabled selected>Choose a starting year</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Optimise Portfolio</button>
</form>

{% endblock %}