{% extends "layout.html" %}

{% block title %}
    Opt
{% endblock %}

{% block main %}

<h2>Your Optimised Portfolio</h2>
   <table class="center">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Weight</th>
                <th>Shares</th>
            </tr>
        </thead>
        <body>
            {% for stock in display_stocks %}
            <tr>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ stock["weight"] }}</td>
                <td>{{ stock['shares'] }}</td>
            </tr>
            {% endfor %}
        </body>
        <tfoot>
            <tr colspan="4">
                <td></td>
 
                <td class="bold">Leftover</td>
                <td>{{ leftover }}</td>
            </tr>
            <tr colspan="4">
                <td></td>

                <td class="bold">Portfolio Value</td>
                <td>{{ pf_value }}</td>
            </tr>
        </tfoot>
   </table>

   <div>
        <img src="{{ image }}">
   </div>
{% endblock %}